/* The CSS file in the assets folder. Styles elements like buttons and checkboxes */

/* The button in cards */

.button-click-effect {
  appearance: none;
  background-color: rgb(52, 112, 168);
  border: 2px solid rgb(40, 88, 143);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px; 
  font-weight: 600;
  line-height: 20px;
  padding: 3px 8px; 
  position: absolute;
  right: 10px;
  bottom: 3px; 
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-click-effect:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-click-effect:hover {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(38, 86, 131) !important;
  border: 2px solid rgb(24, 59, 100) !important;
}

.button-click-effect:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(17, 47, 75) !important;
  border: 2px solid rgb(12, 36, 63) !important;
}

.button-click-effect:focus {
  box-shadow: rgb(17, 47, 75) 0 0 0 2px !important;
  outline: none !important;
}

/* The closing button on the pop-up window */

.buttonConfClose {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 19px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 28%;
  will-change: transform;
}

.buttonConfClose:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
  transform: translateY(-2px);
  background-color: rgb(27, 20, 66) !important;
  border: 2px solid rgb(44, 20, 66) !important;
}

.buttonConfClose:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(53, 39, 131) !important;
  border: 2px solid rgb(76, 38, 128) !important;
}

/* The configure button */

.buttonC {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 30px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttonC:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
  transform: translateY(-2px);
  background-color: rgb(27, 20, 66) !important;
  border: 2px solid rgb(44, 20, 66) !important;
}

.buttonC:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(53, 39, 131) !important;
  border: 2px solid rgb(76, 38, 128) !important;
}

/* The refresh button */

.buttonR {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 1000;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 30px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttonR:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
  transform: translateY(-2px);
  background-color: #1b1442 !important;
  border: 2px solid rgb(44, 20, 66) !important;
}

.buttonR:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(53, 39, 131) !important;
  border: 2px solid rgb(76, 38, 128) !important;
}

/* Checkboxes in the modal */

.form-check-input:checked {
  background-color: #212222 !important;
  border-color: #212222 !important;
}

/* Background Color of the App */

body {
  background-color: #ecf0f2; 
}

/* Customising the table's size, colors, and borders */

.runs-table td,
.runs-table th {
    border-right: 1px solid #6e6e6f;  /* Darker border color */
    border-left: 1px solid #6e6e6f;
    background-color: rgb(251, 253, 253);
    font-size: 14px;
}

.runs-table td:last-child,
.runs-table th:last-child {
    border-right: 1px solid #dee2e6;
}

.runs-table td:first-child,
.runs-table th:first-child {
    border-left: 1px solid #dee2e6;
}

.custom-table-width {
  width: 90%;
  margin-left: 10px;
}

/* See All button on the modal */

.buttonSeeAll {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 9px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0px;
  outline: none;
  padding: 6px 9px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttonSeeAll:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
  transform: translateY(-2px);
  background-color: rgb(27, 20, 66) !important;
  border: 2px solid rgb(44, 20, 66) !important;
}

.buttonSeeAll:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(53, 39, 131) !important;
  border: 2px solid rgb(76, 38, 128) !important;
}
